* {
    margin: 0px;
    padding: 0px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wave {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
    position: relative;
    display: grid;
    place-items: center;
    min-height: 840px;
    transition: 4s;
}

h1 {
    margin: 25px;
    font-size: 4.2em;
    color:transparent;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    transition: 0.8s;
    text-transform: uppercase;
    -webkit-text-stroke: 3px orchid;
    animation: textbounce 10s ease infinite;
}

.audioplayer {
    position:fixed;
    width: 242px;
    justify-content: center;
    z-index: 10;
}

.heart {
    animation: bounce 10s ease infinite;
}

.arrow {
    margin-bottom: -200px;
    transform: rotate(90deg);
}

.container {
    position: relative;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.container .card {
    position: relative;
    width: 300px;
    height: 420px;
    background: whitesmoke;
    border-radius: 20px;
    margin: 42px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    transition: 2s;
}

.container .card .circle {
    position: relative;
    width: 100%;
    height: 100%;
    clip-path: circle(180px at center 0);
    text-align: center;
}

.container .card .card01 {
    background: url(../Materials/card01.jpg);
    background-size:contain;
    background-repeat: no-repeat;
}

.container .card .card02 {
    background: url(../Materials/card02.jpg);
    background-size:contain;
    background-repeat: no-repeat;
}

.container .card .card03 {
    background: url(../Materials/card03.jpg);
    background-size:contain;
    background-repeat: no-repeat;
}

.container .card .circle h2 {
    color: white;
    padding-top: 40px;
    z-index: 2;
}

.container .card .content {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    font-size: 1.02em;
    page-break-after: 20px;
}

.container .card .content p {
    color: gray;
    margin: 20px;
}

.container .card .content a {
    position: relative;
    display: inline-block;
    margin: 25px;
    padding: 10px 20px;
    background: linear-gradient(90deg, #f0027f, #75489f);
    color: whitesmoke;
    border-radius: 40px;
    text-decoration: none;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
}

.container .card .content a:hover {
    transform: scale(1.1);
    transition: 0.4s;
}
.container .card {
    filter: blur(2px);
    transform: scale(0.9);
    opacity: 0.9;
}

.container .card:hover {
    filter: blur(0px);
    transform: scale(1.2);
    opacity: 1;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0);

    transition: 1s;
}

.wave:before{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 257px;
    background: url(../Materials/wave.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.keypoints {
    width: 100%;
    height: auto;
}

.title {
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: -240px;
}

.description {
    width: 100%;
    display: grid;
    place-items: center;
    font-size: 1.8em;
    padding-bottom: 80px;
    margin-left: 160px;
    margin-right: 160px;
    color:transparent;
    text-align: center;
    transition: 0.8s;
    text-transform: uppercase;
    -webkit-text-stroke: 1.3px #75489f;
}


.goodluck {
    width: 100%;
    display: grid;
    place-items: center;
    font-size: 1.2em;
    padding-top: 95px;
    margin-left: 160px;
    margin-right: 160px;
    color:transparent;
    text-align: center;
    text-transform: uppercase;
    -webkit-text-stroke: 1.2px #75489f;   
}

.footer {
    position: relative;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 60px;
    background: linear-gradient(90deg, #f0027f, #75489f);
}

.footer .icon {
    font-size: 2em;
    text-decoration: none;
    color:transparent;
    text-align: center;
    -webkit-text-stroke: 0.6px whitesmoke;
}

.footer .git {
    width: 32px;
    height: 32px;
    background: url(../Materials/github.png);
    color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer .footer_arrow {
    width: 26px;
    height: 26px;
    margin-right: 60px;
    background-image: url(../Materials/arrow.png);
    background-size: cover;
    background-repeat: no-repeat;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes bounce {
    0%
    {
        height: 180px;
        width: 180px;
    }
    50% 
    {
        height: 280px;
        width: 280px;
    }
    100%
    {
        height: 180px;
        width: 180px;
    }
}
@keyframes textbounce {
    0%
    {
        transform: scale(0.8);
        margin-bottom: 0px;
        text-shadow: 0 0 240px #ee7752;
    }
    50% 
    {
        transform: scale(1.09);
        margin-bottom: 20px;
        text-shadow: 0 0 240px #23a6d5;
    }
    100%
    {
        transform: scale(0.8);
        margin-bottom: 0px;
        text-shadow: 0 0 240px #ee7752;
    }
}